body {
    background: #000;
}

* {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
}

h1 {
    color: #fcbf49;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 0 0rem;
}
  
.grid {
    text-align: center;
    max-width: 95vw;
    margin: 2.5vw auto;
}
  
.grid-item {
    padding: 5px;
    box-sizing: border-box;
    display:inline;
}
  
  
@media (min-width: 500px) {
    .grid-item {
        width: 50%;
    }
}
  
@media (min-width: 1000px) {
    .grid-item {
        width: 33.333%;
    }
}
  
@media (min-width: 1700px) {
    .grid-item {
        width: 25%;
    }
}
  
@media (min-width: 2100px) {
    .grid-item {
        width: 20%;
    }
}